*,
*::before,
*::after {
    box-sizing: border-box;
}

body {

    font-family: "Sans serif", Arial, ;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    margin: 0;
}


h1,
h2,
h3 {
    font-family: 'DM Serif Display', serif;
}

body,
h1,
h2,
p {
    margin: 0;
} 

nav > h1 {
    color: aliceblue;
}

.navbar-expand-lg{
    justify-content: space-between;
}

.navbar-collapse{
    flex-grow: unset;
    color: #f7f7f9;

}



li > a {
    color: inherit;
    text-decoration: none;
    margin: 5px;
}

li > a:hover, a:active{
    text-decoration: none;
    color: #b9c5b7;

}
/* 
header > h1 {
    margin-left: 5px;
}

nav > ul {
    margin-right: 20px;
}

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
} */

/* nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
} */


main {
    padding-top: 80px;
}


/* index */

.container {
    
    justify-content: center;
    flex-wrap: wrap;
    
}

.item {
    
    border-radius: 15px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 10px 1px grey;
    width: 344px;
    height: 376px;
    margin: 10px;
    
}



.img {
    
    
    height: 200px;
    margin-bottom: 10px;

}

.img > img {
    
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.sm {
    font-weight: 600;
    font-size: max(0.6vw, 14px);
}

.italic {
    font-style: italic;
}


a, a:hover, a:active{
    color: #000000;
    text-decoration: none;
}
 



.bold {
    font-weight: 600;
}


.indent{
    margin-left: 20px;
} 

.cursive {
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.1px;
    font-style: oblique;
}


.title{
    color: black;
    margin-left: 5px;
    font-size: max(1.6em, 16px);
    line-height: 2em;
    margin-top: -10px;
    align-self: center;
    
}



.flex {
    display: flex;
}




.about {
    flex-direction: column;
    height: 163px;
    justify-content: space-between;
}


#about-1 {
    align-self: flex-start;

}

#about-2 {
    padding-left: 5px;
    align-self: flex-start;
}

#about-3 {
    padding-left: 5px;
    justify-self: flex-end;
}

section > h1 {
    margin: 15px 0;
    padding: 10px;
    text-align: center;
}


.item:hover {
    
    transform: scale(1.06);
    transition: all 0.3s ease;
}


.form-cont{
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    align-items: center;

}

#listing-img {
    display: block;
    margin: auto auto;
    height: min(473.5px, 50vh)
        
}


.container-fluid {
    width: min(50vw);
    height: 25%;
    border: 1px solid whitesmoke;
}


.info {
    flex-direction: column;
    justify-content: space-evenly;
    width: 47vw;
    padding: 0 10px 10px 10px;
    gap: 10px;
}

.listitem {
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}


@media (max-width: 800px){

    .container-fluid {
        width: 100%;
    }

    .info {
        width: 100%;
    }


}


#item-add {
    align-self: flex-end;
}


.fit {
    width: fit-content;
}

.winning-status {
    border-radius: 15px;
    align-self: center;
    
}

#author {
    align-self: flex-end;
}


.lead {
    padding: 10px;
}

#bid-form {
    
    align-self: center;
}


.comment {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.divider {
    margin: 10px 0;
    border-bottom: 1px solid #888989;
}

.comments {
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
   
}


.comments > p[class="h2"] {
    align-self: flex-start;
    margin-bottom: 30px;
}



#comment-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
    
}

.cat {
   
   
    border-radius: 12px;
    width: 150px;
    height: 100px;
    border: 1px solid white;
    background-color: aliceblue;
    text-align: center;
    justify-content: center;
    align-items: center;
    

    
}



.cats {
    justify-content: space-evenly;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 50px;

    

}

.all-comments {
    width: 70%;
    padding: 20px;
    background-color: #f7f7f9;
    align-self: center;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 15px;
    flex-direction: column;
    
}


.comment-text {
    margin-left: 35px;
    font-size: 14px;
}

.font-sz-small{
    font-size: 14px;
}

.font-sz-medium {
    font-size: 24px;
}

.watchlist {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}


.info-watchlist{
    flex-direction: column;
    padding: 5px;
}



/* login page */

.form-div{
    box-shadow: 0 1px 2px rgba(15,17,17,.15) inset;
    width: 60%;
    height: 80vh;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(15,17,17,.15) inset;
}

.center {
    justify-content: center;
}

div[class="signing-div"]>h1 {
    margin-bottom: 5px;
}