{% extends "auctions/layout.html" %}


{% block body %}

    <h2>Create Listings</h2>
    

    <form action="{% url 'createlisting' %}" method="post">
        {% csrf_token %}
        <label for="{{form.title.id_for_label}}">{{form.title.label}}  
            {{form.title}}
        </label>
        <label for="{{form.discription.id_for_label}}">{{form.discription.label}}  
            {{form.discription}}
        </label>       
        <label for="{{form.starting_bid.id_for_label}}">{{form.starting_bid.label}}  
            {{form.starting_bid}}
        </label>

        <label for="{{form.image_url.id_for_label}}">{{form.image_url.label}}  
            {{form.image_url}}
        </label>

        <label for="{{form.category.id_for_label}}">{{form.category.label}}  
            {{form.category}}
        </label>
        <input class="btn btn-primary" type="submit" value="publish">
    </form>


{% endblock %}