{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h1>{{listing.bid_user.bidder}}</h1>

		<img src="{{listing.url}}" alt="Image of {{listing.title}}">
	

		<h2>{{listing.title}}</h2>
		<p>{{listing.discription}}</p>
			<h3>Starting Price</h3>
			<h4>{{listing.offer| usd}}</h4>



		{% if listing.status == True and user.is_authenticated and user != listing.author %}
			{% if form.bid %}
				<form action="{% url 'bid' listing.id %}" method="POST">
					{% csrf_token %}
						<label>{{form.bid.label}} {{form.bid}}</label>
					<input class="btn btn-primary"type="submit" value="Place">
				</form>
			{% endif %}
		{% elif listing.status == False and fumes2 == listing.highest|slice:2 %}
			<p>you have won the auction</p>
			<p>{{listing.highest}}</p>
		{% elif listing.status == False and listing.highest != user %}
			<p>Auction Has Ended</p>
		{% endif %}
		
		{% if listing not in user.listings.all %}
			<form action="{% url 'watchlist' listing.id %}" method="POST">
				{% csrf_token %}
				<input class="btn btn-primary" type="submit" value="Add TO Watch List">
			</form>
		{% endif %}






{% if listing.status == True and user.is_authenticated and user != listing.author %}

	<div>
		<form action="{% url 'comment' listing.id %}" method="POST">
			{% csrf_token %}
			<label>{{commentForm.label}} {{commentForm.comment}}</label>
			<input class="btn btn-primary"type="submit" value="comment">
		</form>


{% endif %}

	

		{% if user == listing.author and listing.status == True %}
			<form action="{% url 'endauction' listing.id %}" method="POST">
				{% csrf_token %}
				{{ endform }}
				<input class="btn btn-primary"type="submit" value="Submit">
			</form>
		{% endif %}

		

	<h2>Comments</h2>


		{% for comments in comments_list %}

		<p> {{comments.comment}}</p>
		by
		<p> {{comments.author.username}}</p>


		{% endfor %}



{% endblock %}

	

