{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h1>{{listing.bid_user.bidder}}</h1>

<div class="listitem flex">
	<div class="container-fluid ">
		<img src="{{listing.url}}" id="listing-img" class="img-fluid" alt="Image of {{listing.title}}">
	</div>
			
	<div class="info flex">

		{% if listing not in user.listings.all %}
			<div class="form-group fit-inline-block" id="item-add">
				<form action="{% url 'watchlist' listing.id %}" method="POST">
					{% csrf_token %}
					<input class="btn btn-primary" type="submit" value="Add To Watch List">
				</form>
			</div>
		{%else%}
			<div class="form-group fit-inline-block" id="item-add">
				<form action="{% url 'removelisting' listing.id %}" method="POST">
					{% csrf_token %}
					<input class="btn btn-danger" type="submit" value="Remove From WatchList">
				</form>
			</div>	
		{% endif %}
		<div  >
			<p class="h1 ">{{listing.title}}</p>
		</div>
		<div>
			<p class="lead">{{listing.discription}}</p>
		</div>
		<div id="author">
			<p class="h5"><span class="font-weight-bold">Author:</span> <span class="cursive">{{listing.author}}</span></p>
			<footer class="blockquote-footer">Created: <cite title="Source Title">{{listing.created}}</cite></footer>
		</div>

		<div>
			{% if listing.highest and listing.status %}
				<p class="h2"><span class="indent">Current Bid:</span> {{listing.highest| usd}}</p>	
			{% elif not listing.status %}
				<p class="h2"><span class="indent">Final Bid:</span> {{listing.highest| usd}}</p>
			{% else %}
				<p class="h2"><span class="indent">Offer:</span> {{listing.offer| usd}}</p>	
			{%endif%}
		</div>

		{% if listing.status == True and user.is_authenticated and user != listing.author %}
			{% if form.bid %}
			<div id="bid-form" class="form-group">
				<form action="{% url 'bid' listing.id %}" method="POST">
					<div class="form-group ">
						{% csrf_token %}
						<div class="form-group">
							<label class="form-label" for="{{form.bid.id_for_label}}">{{form.bid.label}} {{form.bid}}</label>
							<input class="btn btn-primary"type="submit" value="Place">
						</div>				
					</div>
				</form>
			</div>
			{% endif %}
		{% elif listing.status == False and user == listing.winner %}
		<div class="fit winning-status">
			<p class="h6 p-3  bg-success text-white  winning-status">You Have Won</p>
		</div>
		{% endif %}
	</div>
</div>


	<div>
		<form action="{% url 'comment' listing.id %}" method="POST">
			{% csrf_token %}
			<label class="form-label" for="{{commentForm.comment.id_for_label}}">{{commentForm.label}} {{commentForm.comment}}</label>
			<input class="btn btn-primary"type="submit" value="comment">
		</form>
	</div>



	

	{% if user == listing.author and listing.status == True %}
		<form action="{% url 'endauction' listing.id %}" method="POST">
			{% csrf_token %}
			{{ endform }}
			<input class="btn btn-primary"type="submit" value="Submit">
		</form>
	{% endif %}

		

	<h2>Comments</h2>


		{% for comments in comments_list %}

		<p> {{comments.comment}}</p>
		by
		<p> {{comments.author.username}}</p>


		{% endfor %}



{% endblock %}

	

