{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
 
<section>
    <h1>Watch List</h1>
</section>
   
    <div class="watchlist flex">
        
    {% for listing in watchList %}
        <div class="item">
            <a href="{% url 'listitem' listing.id %}">
                <div class="img">
                    <img src="{{ listing.url }}" alt="Listing Image">
                </div>
            </a>
            <div class="info-watchlist flex">
                <a href="{% url 'listitem' listing.id %}">
                    <p class="h2">{{listing.title|truncatechars:25}}</p>
                </a> 
                {% if listing.status%}
                    <p> <strong>Status: </strong><span class="badge badge-pill  badge-info ">Active</span></p>
                {%else%}
                <p> <strong>Status: </strong><span class="badge badge-pill  badge-secondary ">Ended</span></p>
                {%endif%}
                <p><span class="bold italic">Current Price: {{listing.current_price| usd}}</span></p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}